# token #
LIVE_TOKEN = ""
DEV_TOKEN = ""

# appID #
LIVE_ID = ""
DEV_ID = ""

# devGuild #
DEV_GUILD = ""

# database #
MONGO_URL = ""

# apiKeys #
LANGUAGE_KEY = ""
INCOGNITO = ""
TONOR = ""

# brain #
BRAIN_KEY = ""
BRAIN_BID = ""
