footer {
    background: #ad5cec;
    border-radius: 5px;
    padding: 8px 0;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
}

footer .footer span {
    font-size: 15px;
    font-weight: 400;
    color: #1e2024;
}

footer .footer span a {
    font-weight: 500;
    color: #1e2024;
}

footer .footer span a:hover {
    text-decoration: underline;
}
